/.Area.java._trace
/.Cliente.java._trace
/.Notificador.java._trace
/.RepoTaxis.java._trace
/.SistemaGeografico.java._trace
/.Taxi.java._trace
/.TestViajes.java._trace
/.TestViajesAceptados.java._trace
/.TestViajesRechazados.java._trace
/.Ubicacion.java._trace
/.Viaje.java._trace
/Area.java
/Cliente.java
/Notificador.java
/RepoTaxis.java
/SistemaGeografico.java
/Taxi.java
/TestViajesAceptados.java
/TestViajesRechazados.java
/Ubicacion.java
/Viaje.java
/.TestViajesCancelados.java._trace
